RAW_VIDEO_PATH=
EDITED_VIDEO_PATH=
WORKSPACE_DIR=
FCPXML_PATH=
# --- Cấu hình Model AI ---
WHISPER_MODEL=base
EMBEDDING_MODEL=
# --- Cấu hình Cơ sở dữ liệu ---
# N8N Settings
N8N_HOST=
GENERIC_TIMEZONE=

#Server
SERVER_USER=
SERVER_PASSWORD=
SERVER_IP=
POSTGRES_USER2=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=