--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.2+cu118
torchvision==0.17.2+cu118
torchaudio==2.2.2+cu118
python-dotenv
psycopg2-binary
pgvector

openai-whisper
librosa
pydub
ffmpeg-python

speechbrain
sentence-transformers
pandas
pytest
pytest-mock
scipy
soundfile
jupyter